@charset "utf-8";

@font-face {
    font-family: roboto;
    src: url("../font/Roboto-Black.ttf");
}

body { 
    background-color: #004fba;
    background-size: 40px 40px;             
}

div {
    width: 63%;
    margin: 21% auto 0px auto;
    background-color: rgba(0, 0, 0, .9);
    padding: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    font-family: roboto, sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black;
}

p {
    text-indent: 20px;
    text-align: justify;
}

h1 {
    text-align: center;
}
