@charset "UTF-8";

div.main_2{
  background-color: #eeeeee;
  padding: 10px;
  margin-bottom: 15px;
}

div.main_2 h1, div.main_2 p{
  color: #777777;
  width: 500px;
}

div.main_2 h1{
  font-size: 19pt;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div.main_2 p{
  padding-bottom: 10px;
}

div.main_2 img{
  position: relative;
  width: 350px;
  left: 520px;
  top: -280px;
  margin-bottom: -240px;
}
