@charset "UTF-8";

div.main_2{
  background-color: #eee;
  padding: 10px;
  margin-bottom: 15px;
}

div.main_2 h1, div.main_2 p{
  color: #777;
  width: 500px;
}

div.main_2 h1{
  font-size: 19pt;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

div.main_2 p{
  padding-bottom: 10px;
}

div.main_2 img#personagem1{
  width: 352px;
  height: 280px;
  position: relative;
  float: right;
  top: -320px;
  margin-bottom: -220px;
  padding-right: 10px;
}

div.main_2 img#personagem2{
  width: 352px;
  position: relative;
  float: right;
  top: -210px;
  margin-bottom: -220px;
  padding-right: 10px;
}

div.main_2 img#personagem3{
  width: 352px;
  height: 193px;
  position: relative;
  float: right;
  top: -195px;
  margin-bottom: -220px;
  padding-right: 10px;
  padding-bottom: 0px;
}

div.main_2 p#ultimo{
  padding-bottom: 50px;
}
