/* Main */
.topicos {
	width: 100%;
	float: left;
	padding: 3% 4%;
}
.topico {
	width: 100%;
	width: 100%;
	background-color: #fff;
	text-align: center;
	border-radius: 7px;
	margin-bottom: 3%;
	box-shadow: 1px 1px 5px rgba(0,0,0,.5)
}
.topico img {
	border-radius: 5px 5px 0 0;
	width: 100%;
}
.inner {
	padding: 7%;
}
.inner a {
	width: 100%;
	font-size: 1.5em;
	color: #fff;
	font-weight: 700;
	background-color: rgba(0,0,0,.8);
	padding: 0 3%;
}
.inner h4 {
	font-size: 1.1em;
	margin-bottom: 2%;
}
.inner p {
	text-align: justify;
}
.topico-breve {
	float: right;
	width: 66%;
	background-color: #fff;
	margin-top: 2%;
	margin-left: 2%;
	text-align: center;
	font-size: 3em;
	border-radius: 7px;
	display: none;
}
@media screen and (min-width: 480px) {
	.logo {
		width: 214px;
		background: url(../img/logo.png) center center/214px no-repeat;
	}
}

@media screen and (min-width: 768px) {
	.topico {
		width: 49%;
		float: left;
	}
	.topico:nth-child(2) {
		float: right;
	}
	.topico:nth-child(4) {
		float: right;
	}
}

@media screen and (min-width: 960px) {
	.topico {
		width: 32%;
		float: left;
		margin: 0;

	}
	.topico:nth-child(1) {
		margin-right: 2%;
		float: left;
		margin-bottom: 0;
	}
	.topico:nth-child(2) {
		float: left;
		margin-right: 2%;
	}
	.topico:nth-child(3) {
		float: left;
		margin: 0;
	}
	.topico:nth-child(4) {
		margin-top: 2%;
		float: left;
	}
	.topico-breve {
		display: inline-block;
	}
}
