main {
	width: 100%;
	padding: 3% 4%;
	float: left;
}
.conteudo {
	width: 100%;
	background-color: #fff;
	border-radius: 7px;
	float: left;
	box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}
.conteudo img {
	float: left;
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.conteudo-escrito {
	padding: 7%;
	border-bottom: 1px dashed rgba(0,0,0,.3);
}
.conteudo-escrito p {
	text-indent: 20px;
	margin-bottom: 1%;
	text-align: justify;
}
.data {
	width: 100%;
	text-align: right;
	color: rgba(0,0,0,.7);
}
.title-conteudo {
	width: 100%;
	float: left;
	font-size: 1.5em;
	color: #130400;
	font-weight: 700;
	padding: 0 3%;
	margin-bottom: 2%;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,.1);
	display: inline;
	margin-top: 2%;
}
.subtitles-conteudo {
	width: 100%;
	float: left;
	font-size: 1.3em;
	color: #130400;
	font-weight: 700;
	margin-bottom: 2%;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-top: 10%;
}
.tutorial {
	margin: 4%;
	padding: 2%;
	background-color: rgba(0, 79, 177, .9);
	border-radius: 7px;
	color: #fff;
}
.link {
	color: #130400;
	font-weight: 500;
}
.link:hover {
	color: rgba(19, 4, 0, .5);
}
.fb-like {
	padding: 2%;
	float: left;
}
@media screen and (min-width: 768px) {
	.subtitles-conteudo {
		margin-top: 5%;
	}
}
@media screen and (min-width: 960px) {
	.conteudo img {
		display: none;
	}
	.title-conteudo {
		margin-top: 0;
		margin-bottom: 1%;
	}
	.subtitle-conteudo {
		margin-top: 3%;
	}
	.tutorial {
		margin: 2%;
	}
}